---
import type { ProjectData } from "./project-collection";

interface Props extends Pick<ProjectData, "year" | "tags" | "status"> {}

const { year, tags, status } = Astro.props;
---

<aside class="project-meta" aria-label="Project metadata">
  <dl class="project-meta__list">
    <div>
      <dt>Status</dt>
      <dd>{status.replace("-", " ")}</dd>
    </div>
    <div>
      <dt>Year</dt>
      <dd>{year}</dd>
    </div>
    <div>
      <dt>Tags</dt>
      <dd class="project-meta__tags">
        {tags.map((tag) => <span>{tag}</span>)}
      </dd>
    </div>
  </dl>
</aside>
