---
interface Props {
  href: string;
  target?: string;
  rel?: string;
  variant?: "solid" | "ghost";
}

const { href, rel, target, variant = "solid" } = Astro.props;
---

<a class:list={["button-link", `button-link--${variant}`]} href={href} rel={rel} target={target}>
  <slot />
</a>
