---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section class:list={["section", className]} id={id}>
  <div class="container">
    <slot />
  </div>
</section>
